{% extends 'base.html' %}
{% load static %}


{% block content %}


<div class="col d-flex justify-content-center">
<div class="card" style="width: 100rem;">
    <img style="align-items: center; padding: 20px;" src="{% static 'images/bchain.jpg' %}"    height="300" width="200" class="card-img-top" alt="photo of blockchain">
    <div class="card-body">
      <h5 class="card-title" style="font-size:30px;">Blockchain</h5>
      <p  style="font-size:20px; margin-top: 10px;" class="card-text">Blockchain is a system of recording information in a way that makes it difficult or impossible to change, hack, or cheat the system. A blockchain is essentially a digital ledger of transactions that is duplicated and distributed across the entire network of computer systems on the blockchain.</p>
      
    </div>
  </div>

</div>

{% endblock %}

