{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="col d-flex justify-content-center">
    <div class="card" style="width: 100rem;">
        <img style="align-items: center; padding: 20px;" src="{% static 'images/NLP.jpg' %}"    height="300" width="200" class="card-img-top" alt="hello world">
        <div class="card-body">
          <h5 class="card-title" style="font-size:30px">NLP</h5>
          <p style="font-size:20px; margin-top: 10px;" class="card-text" > Augmented reality (AR) is an enhanced version of the real physical world that is achieved through the use of digital visual elements, sound, or other sensory stimuli delivered via technology. It is a growing trend among companies involved in mobile computing and business applications in particular.</p>
          
        </div>
      </div>
    
    </div>
{% endblock %}
